// colors
$accentColor = #61dfd5
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 900px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

//global styles
img{
  padding: 20px 0;
}